/* app css stylesheet */
.guess-card {
  width: 100px;
  margin: 5px auto;
}

.cards {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  float: left;
  margin: 5px;
}

.ng-hide {
  display:block!important;
  visibility: hidden;
}