<!doctype html>
<html lang="en" ng-app="hiraganaApp">
<head>
  <title>Yokomeshi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css"/>
    <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="CardListCtrl">

  <!--h1>Hiragana</h1-->
  <h2 class="guess-card">{{guessCard}}</h2>
  <div class="container-fluid">
    <div ng-repeat="card in cards" ng-hide="!card.display" ng-click="pickCard(card)" class="cards">
      <img ng-src="img/hiragana/{{card.name}}.png">
    </div>
  </div>

</body>
</html>
